.area-filter {
  float: right;
  margin-right: 20px;
}
.area-count {
  margin-right: 20px;
}
.green {
  color: #fff;
  background-color: #5cb85c;
}

.area-head {
  margin-bottom: 20px;
}
.breadcrumb {
  margin-bottom: 20px;
}
.search-total {
  margin-right: 20px;
  font-weight: bold;
}
