<nz-card>
  <app-yangben-event-modal-import
    [parent]="this"
    [postId]="postId"
    [userId]="userId"
    [onWaitSearch]="waitSearch"
  ></app-yangben-event-modal-import>
  <button style="margin-bottom: 20px" nz-button nzType="primary" (click)="search()">刷新</button>

  <nz-table
    #rowSelectionTable
    nzBordered
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzLoading]="this.loading"
    [nzTotal]="total"
    [nzData]="listOfAllData"
    [(nzPageIndex)]="pageIndex"
    [(nzPageSize)]="pageSize"
    (nzPageIndexChange)="search()"
    (nzPageSizeChange)="search()"
    (nzCurrentPageDataChange)="currentPageDataChange($event)"
  >
    <thead>
      <tr>
        <th style="width: 80px" [nzAlign]="'center'">序号</th>
        <th style="width: 150px" [nzAlign]="'center'">导入批次</th>
        <th style="width: 150px" [nzAlign]="'center'">导入文件</th>
        <th style="width: 100px" [nzAlign]="'center'" *ngIf="currentSys === 'dt'">来源</th>
        <th style="width: 150px" [nzAlign]="'center'">处理进度</th>
        <th style="width: 100px" [nzAlign]="'center'">处理结果</th>
        <th style="width: 100px" [nzAlign]="'center'">总数量</th>
        <th style="width: 100px" [nzAlign]="'center'">导入数量</th>
        <th style="width: 100px" [nzAlign]="'center'">存在数量</th>
        <th style="width: 100px" [nzAlign]="'center'">异常数量</th>
        <th style="width: 150px" [nzAlign]="'center'">操作时间</th>
        <th style="width: 250px" [nzAlign]="'center'">描述</th>
        <th style="width: 100px" [nzAlign]="'center'">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data; let i = index">
        <td [nzAlign]="'center'">{{ i + 1 + (pageIndex - 1) * pageSize }}</td>
        <td [nzAlign]="'center'">{{ data.batchNumber }}</td>
        <td>
          <!-- 导入文件 -->
          {{ data.fileName }}
        </td>
        <td *ngIf="currentSys === 'dt'">
          <!-- 来源 -->
          {{ data.sourceFlag === 1 ? '石墨同步' : '人工导入' }}
        </td>
        <td>
          <nz-progress
            *ngIf="data.importProcess.statusFlag === 0"
            [nzPercent]="data.importProcess.percent"
            nzSize="small"
            nzStatus="active"
          ></nz-progress>
          <nz-progress
            *ngIf="data.importProcess.statusFlag === 2"
            [nzPercent]="data.importProcess.percent"
            nzSize="small"
            nzStatus="exception"
          ></nz-progress>
          <nz-progress
            *ngIf="data.importProcess.statusFlag === 1"
            [nzPercent]="data.importProcess.percent"
            nzSize="small"
          ></nz-progress>
        </td>
        <td [nzAlign]="'center'" *ngIf="data.resultStatus == 0">待处理</td>
        <td [nzAlign]="'center'" *ngIf="data.resultStatus == 1">处理中</td>
        <td [nzAlign]="'center'" *ngIf="data.resultStatus == 2">完成</td>
        <td [nzAlign]="'center'" *ngIf="data.resultStatus == 3"><span style="color: red">异常</span></td>
        <td [nzAlign]="'center'" *ngIf="data.resultStatus == 4"><span style="color: red">处理超时</span></td>
        <td [nzAlign]="'center'">{{ data.totalCnt }}</td>
        <td [nzAlign]="'center'">{{ data.successCnt }}</td>
        <td [nzAlign]="'center'">{{ data.sameCnt }}</td>
        <td [nzAlign]="'center'">{{ data.errorCnt }}</td>
        <td [nzAlign]="'center'">{{ data.updatedTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        <td [nzAlign]="'left'">
          <span *ngIf="data.resultStatus === 2 && data.errorCnt > 0"> 异常信息见详情 </span>
          <span *ngIf="data.resultStatus != 2">
            <ellipsis lines="1" tooltip>
              {{ data.resultMark }}
            </ellipsis>
          </span>
        </td>
        <td [nzAlign]="'center'">
          <span *ngIf="data.resultStatus == 2 && data.errorCnt > 0">
            <a
              nz-tooltip
              nzTooltipTitle="导入详情"
              style="margin-right: 10px; color: #52c41a"
              routerLink="../yangben-event-import-detail"
              [queryParams]="{ importLogId: data.id, postId: postId }"
            >
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
          </span>

          <span>
            <a style="margin-right: 10px; color: red" (click)="del(data.id)">
              <i nz-icon nzType="close" nzTheme="outline"></i>
            </a>
          </span>

          <span *ngIf="data.resultStatus == 2 && data.totalCnt != data.successCnt">
            <a style="margin-right: 10px" (click)="downloadErrorData(data.id)">
              <i nz-icon nzType="vertical-align-bottom" nzTheme="outline" nz-tooltip nzTooltipTitle="异常信息下载"></i>
            </a>
          </span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
