<div class="alain-default__aside-inner">
  <ul class="sidebar-nav">
    <li class="sidebar-nav__item sidebar-nav__group-title ng-star-inserted">
      <span></span>
    </li>
    <li class="sidebar-nav__item sidebar-nav__selected sidebar-nav__open ng-star-inserted">
      <a href="/#/dashboard" class="sidebar-nav__item-link ng-star-inserted" data-id="2">
        <span class="sidebar-nav__item-text">人物列表</span></a
      >
    </li>
    <li class="sidebar-nav__item ng-star-inserted">
      <a class="sidebar-nav__item-link ng-star-inserted" href="/dagl/#/person/detail/0" data-id="3">
        <span class="sidebar-nav__item-text">添加人物</span></a
      >
    </li>
  </ul>
</div>
